@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: freight-display-pro, serif;
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  body {
    @apply bg-gray-900 text-gray-200;
  }

  h1.title {
    line-height: 85%;
  }

  p {
    @apply text-xl mt-4;
  }

  p::first-of-type {
    @apply mt-0;
  }

  a {
    @apply underline;
  }

  a:hover {
    @apply cursor-pointer text-white;
  }

  strong {
    font-weight: 600;
  }

  blockquote .success {
    @apply text-green-300 text-sm;
  }

  blockquote .copy {
    @apply underline text-gray-400 cursor-pointer text-sm hover:text-white;
  }
}
